/* Images created by: https://unsplash.com/@jensth */

body,
html {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #bebcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-image: url("./cover.jpg");
  background-position: center;
  background-size: cover;
}

.player-container {
  height: 85vh;
  width: 75vh;
  background-color: rgb(18, 5, 42);
  /* background-image: linear-gradient(black, rgb(40, 14, 84) 100%); */
  border-radius: 20px;
  box-shadow: 0 15px 30px 7.5px black;
}

.img-container {
  position: relative;
  top: -1rem;
  left: 50px;
  width: 55vh;
  border-radius: 20px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  position: relative;
  left: 1rem;
  color: #fff;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 66%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: phone*/
@media screen and (max-width: 376px) {
  .player-container {
    width: 50vh;
    height: 80vh
    left: 5vh;
  }
  .img-container {
    left: -1vh;
    width: 45vh;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
