* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  /* gap: 5rem; needs fix */
  justify-content: space-between;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  /* position: relative; */
  gap: 10%;
}

.logo {
  font-size: 2rem;
  flex: 30%;
}

/* .nav--button {

} */

/* MAIN */

.main {
  background-color: green;
  color: black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.main--info {
  background-color: gray;
  color: white;
  flex: 1 auto 30%;
  display: flex;
  width: 100%;
}

.main--info-image {
  width: 100px;
  background-color: black;
  flex: 1 auto 50%;
  height: 250px;
  width: 300px;
}

/* grid song list */

/* song titles container */
.main--songlist {
  background-color: turquoise;
  /* display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px; */
}

/* song description  */
.songlist-description--container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.songlist-description {
}

/* song list */
.songlist-songs--container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.songlist-songs {
}

/* FOOTER */
footer {
  flex: 1 auto auto;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
